body { background:lightpink;
     } 
h1 { color:rgb(191, 147, 247);
     text-align: center;
    font-family:Sour Gummy

}
h2 { color:rgb(191, 147, 247);
     text-align: left;
    font-family:Sour Gummy;
    text-align:center;
}
h3 { color:#e6718e; 
    font-family:Sour Gummy
     
}
.container{ 
     display:flex;
           flex-direction:row-reverse;
           justify-content:center;
           align-self:center;
}
